:root {
    --jet-darker: #181818;
    --jet-dark  : #2D2D2D;
    --jet-grey  : #383839;
    --davy-grey : #505051;
    --dim-grey  : #757575;
    --grey-white: #ddd2c1;
    --off-white : #f5f5f5; /* #f2f0ec; */
    --white     : #ebebeb;
    --sunglow   : #ffcc66;
    --tangerine : #f89057;
    --pink      : #f3767a;
    --red       : #fa4e4e;
    --purple    : #CC98CD;
    --green     : #98cd99;
    --blue      : #6798cc;
    --teal      : #66cdcd; 
}


@import url('https://fonts.googleapis.com/css2?family=Jost&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
  
.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
  
.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}
  
.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

* {
    font-size: 15px;
    font-family: "Space Mono", monospace;
    
}

p {
    line-height:    1.5;
    max-width: 800px;
    
    margin-left:  auto;
    margin-right: auto;
}

body {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    color: black;

    background-color: var(--off-white);
    background-image: 
        radial-gradient(circle, var(--jet-darker) 1px, transparent 1px),
        radial-gradient(circle, var(--jet-darker) 1px, transparent 1px);


    background-size: 8px 8px; 
    background-position: 0px 0px, 4px 4px; 

}


body::-webkit-scrollbar {
    display: none;  
}

.pseudo-body {
    width: 1200px;
    margin: auto;

}

.main {
    max-width: 900px;

    margin:   0;

    padding: 3%;
    padding-top: 0%;

    border-radius: 0px;

    border:     2px solid  var(--jet-darker);
    border-top: 0px solid white;

    box-shadow: 
         2px 0px var(--off-white),
        -2px 0px var(--off-white),

         2px 2px var(--off-white),
        -2px 2px var(--off-white),

         4px 4px var(--jet-darker),
        -4px 4px var(--jet-darker),

         4px -4px var(--jet-darker),
        -4px -4px var(--jet-darker),

         4px 0px var(--jet-darker),
        -4px 0px var(--jet-darker),

        -4px -16px var(--jet-darker),
         4px -16px var(--jet-darker);

    background-color: var(--off-white);

    overflow: hidden;

    margin-top: 4%;

    margin-left:  auto;
    margin-right: auto;
}

.lower {
    width: 50%;
    padding: 0;
    margin:  0;

    padding-left: 2%;
    padding-bottom: 2%;

    margin-left: 5%;
    margin-top: -2%;
}

.aboutme-grid {
    display: grid;
    grid-template-columns: 60% 20%;
    grid-template-areas: 
    'aboutme aboutme-pic';
}

.aboutme {
    user-select: none;
    font-size: 14px;
    margin-top: 5%;
    grid-area: aboutme;
}

.aboutme-pic {
    width: 50%;

    margin:  0;
    padding: 0;

    margin-left: 78%;
    margin-top: -52%;

    padding-left: 70px;
    grid-area: aboutme-pic;
}

.blog-grid {
    
    padding: 0;
    margin:  0;

    margin-left: -5px;

    display: grid;

    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

a {
    color: var(--jet-darker);
    text-decoration: underline;
}

a:hover {
    font-weight: bolder;
}

.blog-card {
    user-select: none;
    padding: 0;
    margin:  0;

    padding-left:   5%;
    padding-bottom: 5%;

    border-radius: 0px;
    border: 1px solid var(--jet-dark);

    box-shadow: 
         1px 0px var(--off-white),
        -1px 0px var(--off-white),

         1px 1px var(--off-white),
        -1px 1px var(--off-white),


}

x.blog-card:hover {
    background-color: var(--blue);
    box-shadow: 
       -2px -2px 2px var(--grey-white),
        3px  3px 2px var(--dim-grey);
}

.call2action {
    padding: 5px;

    border-radius: 0px;
    font-weight: bold;

    xborder: 1px solid;

    background-color: var(--off-white);
}


.nav-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.nav-li {
    margin-right: 5px;

    background-color: var(--pink);
    padding: 10px;

    border-radius: 2px;
    border: 1px solid var(--jet-darker);

    box-shadow: 3px 2px 0px var(--davy-grey);
}

.nav-li:hover {
    border: 1px solid var(--jet-grey);
    background-color: var(--tangerine);
    box-shadow: 4px 3px 0px var(--davy-grey);
}

nav {
    width: 100%;
    padding: 10px 0;
}

img {

    margin: 0;
    padding: 0;

    border-radius: 0px;

    border:     2px solid var(--jet-darker);

}

.prof-img {
    filter: contrast(200%) grayscale(100%);
    image-rendering: pixelated;

    box-shadow: 
         2px 0px var(--off-white),
        -2px 0px var(--off-white),

         2px 2px var(--off-white),
        -2px 2px var(--off-white),

         4px 4px var(--jet-darker),
        -4px 4px var(--jet-darker),

         2px -2px var(--off-white),
        -2px -2px var(--off-white),

         4px -4px var(--jet-darker),
        -4px -4px var(--jet-darker),
        
         4px  -10px var(--jet-darker),
        -4px  -10px var(--jet-darker);
}

.highlight {
    max-width: 700px;
    margin: auto;
    box-shadow: 6px 6px var(--davy-grey);
}

pre {
    padding: 1%;
    color: var(--off-white);
    background-color: var(--jet-grey);
}

code {
    max-width: 800px;
    
    color: var(--off-white);
    background-color: var(--jet-grey);

    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;

}

aside {
    display: none;
}

.back {
    
    padding: 1%;
    border-radius: 0px;

    border: 1px solid black;

    color:var(--jet-darker);
    background-color: var(--off-white);

    box-shadow: 
         1px 0px var(--off-white),
        -1px 0px var(--off-white),

         1px 1px var(--off-white),
        -1px 1px var(--off-white),

         3px 3px var(--jet-darker),
        -3px 3px var(--jet-darker),

        -1px -1px var(--off-white),
         1px -1px var(--off-white),

        -3px -3px var(--jet-darker),
         3px -3px var(--jet-darker);

    
}

.back:hover {
    color: white;
    background-color: blue;
}

.blog-img {
    align-self:   center;
    justify-self: center;

}

.notif {
    display: none;
}

.notifbutton {

    margin: auto;
    width: 80px;
    
    border-radius: 0px;
    color: black;

    background-color: white;
}

.notifbutton:hover {
    cursor: pointer;
    background-color: var(--grey-white);
}

@supports (-moz-appearance: none) {
    .blog-img img{
        width: 800px;
    }
    
}

@media all and (orientation:portrait) {
    .notif {
        display:grid;
        width: 300px;

        color: white;
        background-color: blue;
        
        padding: 0;
        margin:  0;

        padding-left: 5%;
        margin-top: 6px;

        position: absolute;
        left:  20px;
        top:  0px;

        border: 2px solid black;

    }

    .body-grid {
        display: inline-block;
    }

    .aboutme {
        margin: auto;
        max-width: 600px;
        
        padding: 0;
        margin-left: 0px;
    }

    .aboutme {
        color: var(--jet-dark);
    }

    .aboutme-grid {
        display: grid;
        grid-template-areas: 
        'aboutme-pic'
        'aboutme';
        grid-template-columns: 1fr;
    }

    .pseudo-body {
        width: 50%;

        margin: 0;
        margin-top: 10%;
        
    }
    
    .main {
        width: 92dvw;

        margin:   auto;
        padding: 3%;
        padding-top: 1%;

        overflow: hidden;
    }

    .aboutme-pic {
        margin-top: 3%;
        width: auto;
        padding: 0;
        display: none;
    }

    .call2action, .title {
        color: var(--jet-darker);
    } 

    footer {
        margin-left: -1%;
    }

}

@media (orientation:portrait) and (max-width: 780px) {

    ul li a {
        color: var(--jet-dark);
    }

    .special {
        display: none;
    }

    nav {
        display: none;
    }

    .nav-li {
        font-size: 12px;
        height: 20px;
    }  

    .blog-card:hover {
        box-shadow: none;
    }

    img {
        width:  95vw;
        display: unset;
    }

    code {
        background-color: var(--jet-darker);
    }
}

