<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- Main Content -->
  <div class="main">
    {{ block "main" . }} 
    {{ end }}
  </div>

  <!-- Footer Section -->
  <footer>
    <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}. All Rights Reserved.</p>
  </footer>

</body>
</html>

<style>
</style>