{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <aside class="instapaper_ignoref b helvetica tracked ttu">
        {{ .Section | humanize }}
      </aside>
      <div id="sharing" class="mt3 ananke-socials"></div>
      <h1 class="f1 athelas mt3 mb1">{{ .Title }}</h1>
    </header>

    <div class="nested-copy-line-height lh-copy serif f4 nested-links mid-gray pr4-l w-two-thirds-l">
      {{ .Content }}

      <ul class="pa0">
      </ul>
      <div class="mt6 instapaper_ignoref">
      </div>
    </div>

    <aside class="w-30-l mt6-l">
    </aside>
  </article>
{{ end }}
